.about{
  width: 1192px;
  height: 436px;
  flex-shrink: 0;
  background: #6E6F64;
  margin: auto;
  position: relative;
}
.projects{
  width: 1192px;
  height: 436px;
  flex-shrink: 0;
  background: #ffffff;
  margin: auto;
  position: relative;
}
.contact{
  width: 1192px;
  height: 436px;
  flex-shrink: 0;
  background: #6E6F64;
  margin: auto;
  position: relative;
}