    .profile-outer-circle{
    flex-shrink: 0;
    background-color: #F2E19F;
    box-shadow: 0px 4px 6.3px -66px rgba(0, 0, 0, 0.25);
    position: absolute;
}
.profile-image-outer{
    flex-shrink: 0;
    position: absolute;
    overflow: hidden;
}
.profile-image-outer img{
    position: absolute;
}